body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdf2e6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inputContainer {
  border: 1px solid black;
  align-items: center;
  margin-left: 75vh;
  margin-right: 75vh;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  height: 3.5rem;
  flex-direction: column;
  border-radius: 5px;
}

.labelContainer {
  text-align: left;
  color: dimgrey;
  margin-left: 5px;
  font-size: 14px;
  width: 100%;
  border-radius: 5px;
}

input {
  text-align: left;
  border: none;
  display: inline-block;
  width: 98%;
  height: 100%;
  font-size: 16px;
  background-color: #fdf2e6;
}

input:focus {
  outline: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  margin-top: 5px;
}

.dropdown-selection {
  margin-left: 10px;
  text-align: left;
}

.dropdown-menu {
  background-color: #f1f1f1;
  width: 92%;
  box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.2);
  list-style: none;
  margin-top: 25px;
}

.dropdown-option {
  color: black;
  padding: 10px 0px;
  text-align: left;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #ddd;
  display: block;
}

.generateButton {
  margin-left: 75vh;
  margin-right: 75vh;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  height: 50px;
  background-color: #e64130;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.textbox-container {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 85vh;
  height: 9vh;
  margin-left: 60vh;
  margin-right: 55vh;
  margin-top: 20px;
  margin-bottom: 20px;
  resize: none;
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
}